.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #003479;
  min-height: 187px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h6 {
  color: white;
  text-align: center;
}
